.container {
  background-color: var(--container-bg-color);
  max-width: 25rem;
  width: 100%;
  box-sizing: border-box;
  margin: 1.25rem;
  padding: 0 1.25rem 1.25rem 1.25rem;
  border: 1px solid var(--border-color, #ccc);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
}

.container button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.625rem 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
}

.container button:focus {
  outline: 2px solid var(--focus-color, #3da9fc);
}

.showHideAddress .showAddressBtn,
.showHideAddress .hideAddressBtn {
  all: unset;
  text-decoration: underline;
  outline: revert;
}

.showHideAddress button:hover {
  all: unset;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 468px) {
  .container {
    margin: 0.625rem;
    padding: 0.9375rem;
    max-width: 90%;
  }

  .container p {
    font-size: 0.875rem;
  }

  .buttonContainer button {
    padding: 0.5rem 1rem;
  }
}
