.container {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container label {
  margin-right: 0.625rem;
  font-weight: bold;
  color: var(--text-color);
}

.container select {
  border: 1px solid var(--pagination-select-border-color);
  color: var(--text-color);
  background-color: var(--pagination-button-bg-color);
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.container select:hover {
  background-color: var(--pagination-button-hover-bg-color);
  color: var(--pagination-button-hover-text-color);
}

.container select:focus {
  border-color: var(--button-hover-bg-color);
  outline: 2px solid var(--focus-color, #3da9fc);
}

.container option {
  background-color: var(--container-bg-color);
  color: var(--text-color);
}

.container option:hover,
.container option:focus {
  background-color: var(--pagination-button-hover-bg-color);
  color: var(--pagination-button-hover-text-color);
}
