.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.buttonContainer button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.buttonContainer button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
}

@media (max-width: 468px) {
  .buttonContainer button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}