.buttonContainer {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
}

.buttonContainer button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.buttonContainer button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
}

.buttonContainer button:focus {
  outline: 2px solid var(--focus-color, #3da9fc);
}

@media (max-width: 468px) {
  .buttonContainer button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .buttonContainer button:hover {
    background-color: var(--button-bg-color);
  }
}
