.container {
  background-color: var(--header-bg-color);
  width: 100%;
  text-align: center;
}

.container input {
  width: 90%;
  padding: 8px;
  margin-bottom: 20px;
  border: 2px solid var(--input-border-color);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 500px;
}

.container input[type="text"]:disabled {
  background-color: var(--input-disabled-bg-color);
  color: var(--input-disabled-text-color);
}

@media (max-width: 468px) {
  .container {
    padding-bottom: 15px;
  }
}
