.container {
  width: 100%;
  padding: 1.25rem 0 2.5rem 0;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  text-align: center;
}

.container ul {
  all: unset;
}

.container ul li {
  all: unset;
}

.container p {
  margin-bottom: 1.5rem;
}

.container a {
  color: var(--link-text-color);
  margin: 0 0.625rem;
}

.container a:hover {
  text-decoration: none;
  color: var(--link-hover-text-color);
}
