.container {
  margin: 1.5rem 0;
}

.container h3,
.container p {
  line-height: 1.2em;
  transition: line-height 0.3s ease;
}

@media (max-width: 468px) {
  .container h3,
  .container p {
    line-height: 1.5rem;
  }
}
