/* Light Theme Styles */
:root {
  --background-color: #fffffe;
  --text-color: #094067;
  --container-bg-color: #f9f9f9;
  --header-bg-color: #2b6a99;
  --input-border-color: #3da9fc;
  --button-bg-color: #3da9fc;
  --button-text-color: #ffffff;
  --table-header-bg-color: #4a8ed6;
  --table-row-hover-bg-color: #f5f5f5;
  --pagination-button-bg-color: #ffffff;
  --pagination-button-text-color: #094067;
  --pagination-button-border-color: #3da9fc;
  --pagination-select-border-color: #3da9fc;
  --footer-bg-color: #2b6a99;
  --footer-text-color: #ffffff;
  --link-text-color: #ffffff;
  --link-hover-text-decoration: underline;
  --input-disabled-bg-color: #ccc;
  --input-disabled-text-color: #444444;
  --button-hover-bg-color: #3072b3;
  --button-hover-text-color: #ffffff;
  --pagination-button-hover-bg-color: #3da9fc;
  --pagination-button-hover-text-color: #ffffff;
  --pagination-button-disabled-border-color: #cccccc;
  --pagination-button-disabled-color: #cccccc;
  --pagination-button-disabled-bg-color: #f9f9f9;
}

/* Dark Theme Styles */
[data-theme='dark'] {
  --background-color: #333333;
  --text-color: #ffffff;
  --container-bg-color: #343434;
  --header-bg-color: #1a1a1a;
  --input-border-color: #f0f0f0;
  --button-bg-color: #424242;
  --button-text-color: #ffffff;
  --table-header-bg-color: #101010;
  --table-row-hover-bg-color: #555555;
  --pagination-button-bg-color: #424242;
  --pagination-button-text-color: #ffffff;
  --pagination-button-border-color: #ffffff;
  --pagination-select-border-color: #ffffff;
  --footer-bg-color: #1a1a1a;
  --footer-text-color: #ffffff;
  --link-text-color: #ffffff;
  --link-hover-text-decoration: underline;
  --input-disabled-bg-color: #555555;
  --input-disabled-text-color: #666666;
  --button-hover-bg-color: #ffffff;
  --button-hover-text-color: #101010;
  --pagination-button-hover-bg-color: #101010;
  --pagination-button-hover-text-color: #ffffff;
  --pagination-button-disabled-border-color: #666666;
  --pagination-button-disabled-color: #666666;
  --pagination-button-disabled-bg-color: #333333;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container,
.table-container,
.customer-details {
  background-color: var(--container-bg-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.header-container,
.input-container {
  background-color: var(--header-bg-color);
}

.header-container,
.input-container {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

h1 {
  color: #ffffff;
  margin: 0;
}

.customer-details {
  max-width: 25%;
  width: 100%;
  box-sizing: border-box;
}

.table-container,
.customer-details {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: var(--container-bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feather-inbox {
  width: 50vw;
  height: auto;
  max-width: 400px;
  max-height: 400px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input[type="text"] {
  padding: 8px;
  margin: 8px 0;
  border: 2px solid var(--input-border-color);
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  box-sizing: border-box;
  font-size: 1rem;
}

input[type="text"]:disabled {
  background-color: var(--input-disabled-bg-color);
  color: var(--input-disabled-text-color);
}

input[type="button"],
.customer-details button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin: 10px 0;
  transition: background-color 0.3s, color 0.3s;
}

input[type='button']:hover,
.customer-details button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: var(--background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

th, td {
  padding: 15px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th, td:nth-child(1) {
  text-align: center;
}

th {
  background-color: var(--table-header-bg-color);
  color: #ffffff;
}

th:nth-child(3),
th:nth-child(4) {
  cursor: pointer;
}

tbody tr {
  cursor: pointer;
}

table th:nth-child(1) {
  width: 20px;
}

tr:hover {
  background-color: var(--table-row-hover-bg-color);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0;
  border-radius: 8px;
}

.pagination button {
  background-color: var(--pagination-button-bg-color);
  color: var(--pagination-button-text-color);
  border: 1px solid var(--pagination-button-border-color);
  cursor: pointer;
  padding: 5px 8px;
  margin: 0 12px;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination button:hover {
  background-color: var(--pagination-button-hover-bg-color);
  color: var(--pagination-button-hover-text-color);
}

.pagination button:disabled {
  border-color: var(--pagination-button-disabled-border-color);
  color: var(--pagination-button-disabled-color);
  background-color: var(--pagination-button-disabled-bg-color);
  cursor: not-allowed;
}

.pagination select {
  padding: 5px 8px;
  margin-left: 12px;
  border: 1px solid var(--pagination-select-border-color);
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination select:hover {
  background-color: var(--pagination-button-hover-bg-color);
  color: var(--pagination-button-hover-text-color);
}

.no-customers-available-text {
  text-align: center;
}

.footer {
  margin-top: auto;
  width: 100%;
  padding: 40px 0;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  text-align: center;
}

.footer p {
  margin-bottom: 30px;
}

.footer a {
  color: var(--link-text-color);
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: var(--link-hover-text-decoration);
}

.theme-toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#theme-toggle-label {
  cursor: pointer;
  margin-right: 10px;
  color: #ffffff;
  font-size: 1rem;
}

#theme-toggle-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #ffffff;
  border-radius: 20px;
  border: 2px solid #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#theme-toggle-button:hover {
  transform: scale(1.1);
}

.filter-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-container label {
  margin-right: 10px;
  font-weight: bold;
  color: var(--text-color);
}

.filter-container select {
  border: 1px solid var(--pagination-select-border-color);
  color: var(--text-color);
  background-color: var(--pagination-button-bg-color);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-container select:hover {
  background-color: var(--pagination-button-hover-bg-color);
  color: var(--pagination-button-hover-text-color);
}

.filter-container select:focus {
  border-color: var(--button-hover-bg-color);
}

.filter-container select:disabled {
  background-color: var(--input-disabled-bg-color);
  color: var(--input-disabled-text-color);
  cursor: not-allowed;
}

.filter-container option {
  background-color: var(--container-bg-color);
  color: var(--text-color);
}

@media (max-width: 768px) {
  th, td {
    padding: 10px;
  }

  .table-container,
  .customer-details {
    margin: 10px;
  }

  input[type="text"],
  input[type="button"],
  .customer-details input[type='button'] {
    font-size: medium;
    margin: 4px 0;
  }

  .customer-details {
    padding: 15px;
    max-width: 90%;
  }

  .button-container button {
    padding: 8px 16px;
  }

  .customer-details p, .customer-details h2 {
    font-size: 14px;
  }

  input[type="text"] {
    width: calc(100% - 20px);
  }

  .header-container,
  .input-container {
    padding: 15px 0;
  }

  .pagination {
    margin-top: 15px;
  }

  .pagination select {
    margin-left: 8px;
    padding: 4px 6px;
    font-size: 0.8rem;
  }

  .feather-inbox {
    width: 80vw;
  }
}
