.container {
  background-color: var(--header-bg-color);
  width: 100%;
  text-align: center;
  padding: 2rem 0 0 0;
}

.container h1 {
  color: var(--header-text-color, #ffffff);
  margin: 0;
}

@media (max-width: 468px) {
  .container {
    padding: 1rem 0;
  }

  .container h1 {
    font-size: 1.5rem;
  }
}
