.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #ffffff;
  border-radius: 20px;
  border: 2px solid #ffffff;
  cursor: pointer;
  margin: 10px;
}

.button:hover {
  transform: scale(1.2);
  color: #ffffff;
}
