.container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.box {
  background-color: var(--button-text-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  width: 20rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.header {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-size: 1rem;
  font-weight: 600;
}

.form {
  padding: 1rem;
}

.form .input {
  width: 100%;
  border: 2px solid var(--messenger-input-border-color);
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.3125rem;
  max-width: 31.25rem;
  box-sizing: border-box;
  font-size: 1rem;
}

.form textarea {
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-top: 0.375rem;
  margin-bottom: 0.3125rem;
  width: 93%;
  height: 6.25rem;
  border: 2px solid var(--messenger-input-border-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.sendButton {
  cursor: pointer;
  background-color: var(--button-bg-color);
  border: 2px solid var(--messenger-input-border-color);
  color: var(--button-text-color);
  padding: 0.625rem 1rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.sendButton:hover {
  background-color: var(--button-text-color);
  color: var(--button-bg-color);
  border: 2px solid var(--button-bg-color);
}

.sendButton:focus {
  outline: 2px solid var(--focus-color, #3da9fc);
}

.sendButton svg {
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.success {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--success-bg-color, #408140);
  display: inline-block;
  color: var(--button-text-color);
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 0.3125rem;
}

.openCloseButton {
  cursor: pointer;
  background-color: var(--button-text-color);
  color: var(--button-bg-color);
  padding: 1rem;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.openCloseButton:hover {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}

@media (max-width: 468px) {
  .form .input,
  .form textarea {
    padding: 0.375rem;
  }

  .sendButton {
    padding: 0.5rem 0.75rem;
  }
}
