.container {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 50;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-end; /* Align the form and button to the right */
}

.box {
  background-color: var(--button-text-color);
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 320px;
  margin-bottom: 8px; /* Space between form and button */
  overflow: hidden;
}

.header {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-size: 1rem;
  font-weight: 600;
}

.form {
  padding: 16px;
}

.form .input {
  width: 100%;
  border: 2px solid var(--messenger-input-border-color);
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  max-width: 500px;
  box-sizing: border-box;
  font-size: 1rem;
}

.form textarea {
  font-size: 1rem;
  border-radius: 4px;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 5px;
  width: 93%;
  height: 100px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid var(--messenger-input-border-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.sendButton {
  cursor: pointer;
  background-color: var(--button-bg-color);
  border: 2px solid var(--messenger-input-border-color);
  color: var(--button-text-color);
  padding: 10px 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin-top: 8px;
  font-weight: bold;
}

.sendButton:hover {
  background-color: var(--button-text-color);
  color: var(--button-bg-color);
  border: 2px solid var(--messenger-button-border-color);
}

.sendButton svg {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.success {
  width: 100%;
  box-sizing: border-box;
  background-color: #408140;
  display: inline-block;
  color: var(--button-text-color);
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.openCloseButton {
  cursor: pointer;
  background-color: var(--button-text-color);
  color: var(--button-bg-color);
  padding: 16px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.openCloseButton:hover {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}
